---
export interface Props {
  degree: string;
  institution: string;
  period: string;
  location?: string;
  gpa?: string;
  achievements?: string[];
  id?: string;
}

const { degree, institution, period, location, gpa, achievements, id } = Astro.props;
---

<ol class="timeline">
  <li id={id} class="timeline-item">
    <span class="size-3 shrink-0 rounded-full bg-blue-600"></span>
    <div class="flex-grow">
      <div class="mb-2 flex flex-col md:flex-row md:items-start md:justify-between">
        <div>
          <h4 class="text-lg font-semibold text-gray-900">{degree}</h4>
          <h5 class="text-md font-medium text-green-600">{institution}</h5>
          {location && <p class="text-sm text-gray-500">{location}</p>}
          {
            gpa && (
              <p class="text-sm text-gray-600">
                GPA: <span class="font-medium">{gpa}</span>
              </p>
            )
          }
        </div>
        <span class="text-sm font-medium text-gray-500 md:text-right">{period}</span>
      </div>

      {
        achievements && achievements.length > 0 && (
          <ul class="list-inside list-disc space-y-1 text-gray-700">
            {achievements.map((achievement) => (
              <li class="text-sm leading-relaxed">{achievement}</li>
            ))}
          </ul>
        )
      }
    </div>
  </li>
</ol>
